In [1]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.24.9-py3-none-any.whl (132 kB)
     |████████████████████████████████| 132 kB 8.8 MB/s
Collecting s3transfer<0.7.0,>=0.6.0
  Using cached s3transfer-0.6.0-py3-none-any.whl (79 kB)
Collecting jmespath<2.0.0,>=0.7.1
  Using cached jmespath-1.0.0-py3-none-any.whl (23 kB)
Collecting botocore<1.28.0,>=1.27.9
  Downloading botocore-1.27.9-py3-none-any.whl (8.9 MB)
     |████████████████████████████████| 8.9 MB 70.3 MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.9/site-packages (from botocore<1.28.0,>=1.27.9->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.9/site-packages (from botocore<1.28.0,>=1.27.9->boto3) (1.26.8)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.28.0,>=1.27.9->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.24.9 botocore-1.27.9 jmespath-1.0.0 s3transfer-0.6.0

LISTE DES VILLES

In [2]:
liste_villes = ["Mont Saint Michel","St Malo","Bayeux","Le Havre","Rouen","Paris","Amiens","Lille","Strasbourg",
"Chateau du Haut Koenigsbourg","Colmar","Eguisheim","Besancon","Dijon","Annecy","Grenoble","Lyon","Gorges du Verdon",
"Bormes les Mimosas","Cassis","Marseille","Aix en Provence","Avignon","Uzes","Nimes","Aigues Mortes",
"Saintes Maries de la mer","Collioure","Carcassonne","Ariege","Toulouse","Montauban","Biarritz","Bayonne","La Rochelle"]

In [3]:
import pandas as pd
import requests
import json
from bs4 import BeautifulSoup
import numpy as np
import json

CREATION D'UNE DATAFRAME POUR RECUPERER LES DONNEES DES VILLES

In [4]:
df = pd.DataFrame(columns=['city_id' , 'name', 'latitude', 'longitude', 'feels_like'])

CREATION D'UNE BOUCLE POUR RECUPERER LES DONNEES LAT ET LONG SUR OPENSTREETMAP 
ET L'INTEGRER DANS LA DATAFRAME

In [5]:
resultat = []

for i,v in enumerate (liste_villes):
    result_villes = requests.get(f"https://nominatim.openstreetmap.org/?addressdetails=1&q={liste_villes[i]}&format=json&limit=1")    
    
# données intégrées dans la DataFrame
    
    df.loc[i,'city_id'] = i                                        # id ville pour pour effectuer des itérations 
    df.loc[i,'name'] = liste_villes[i]                             # nom de la ville
    df.loc[i, 'latitude'] = result_villes.json()[0].get('lat')     # Latitude
    df.loc[i, 'longitude'] = result_villes.json()[0].get('lon')    # Longitude
    
# Données récupérées de la requête
    
    LAT  = result_villes.json()[0].get("lat")                      
    LON  = result_villes.json()[0].get("lon")
    
# création d'un dictionnaire pour récupérer les villes, latitudes et longitudes   

    dico = { "Ville" : liste_villes[i],
            "LAT" : LAT,
            "LON" : LON}
    
    resultat.append(dico)

In [6]:
resultat

[{'Ville': 'Mont Saint Michel',
  'LAT': '48.6359541',
  'LON': '-1.511459954959514'},
 {'Ville': 'St Malo', 'LAT': '48.649518', 'LON': '-2.0260409'},
 {'Ville': 'Bayeux', 'LAT': '49.2764624', 'LON': '-0.7024738'},
 {'Ville': 'Le Havre', 'LAT': '49.4938975', 'LON': '0.1079732'},
 {'Ville': 'Rouen', 'LAT': '49.4404591', 'LON': '1.0939658'},
 {'Ville': 'Paris', 'LAT': '48.8588897', 'LON': '2.3200410217200766'},
 {'Ville': 'Amiens', 'LAT': '49.8941708', 'LON': '2.2956951'},
 {'Ville': 'Lille', 'LAT': '50.6365654', 'LON': '3.0635282'},
 {'Ville': 'Strasbourg', 'LAT': '48.584614', 'LON': '7.7507127'},
 {'Ville': 'Chateau du Haut Koenigsbourg',
  'LAT': '48.249489800000006',
  'LON': '7.34429620253195'},
 {'Ville': 'Colmar', 'LAT': '48.0777517', 'LON': '7.3579641'},
 {'Ville': 'Eguisheim', 'LAT': '48.0447968', 'LON': '7.3079618'},
 {'Ville': 'Besancon', 'LAT': '47.2380222', 'LON': '6.0243622'},
 {'Ville': 'Dijon', 'LAT': '47.3215806', 'LON': '5.0414701'},
 {'Ville': 'Annecy', 'LAT': '45.8992348', 'LON': '6.1288847'},
 {'Ville': 'Grenoble', 'LAT': '45.1875602', 'LON': '5.7357819'},
 {'Ville': 'Lyon', 'LAT': '45.7578137', 'LON': '4.8320114'},
 {'Ville': 'Gorges du Verdon', 'LAT': '43.7496562', 'LON': '6.3285616'},
 {'Ville': 'Bormes les Mimosas',
  'LAT': '43.1572172',
  'LON': '6.329253867921363'},
 {'Ville': 'Cassis', 'LAT': '43.2140359', 'LON': '5.5396318'},
 {'Ville': 'Marseille', 'LAT': '43.2961743', 'LON': '5.3699525'},
 {'Ville': 'Aix en Provence', 'LAT': '43.5298424', 'LON': '5.4474738'},
 {'Ville': 'Avignon', 'LAT': '43.9492493', 'LON': '4.8059012'},
 {'Ville': 'Uzes', 'LAT': '44.0121279', 'LON': '4.4196718'},
 {'Ville': 'Nimes', 'LAT': '43.8374249', 'LON': '4.3600687'},
 {'Ville': 'Aigues Mortes', 'LAT': '43.5658225', 'LON': '4.1912837'},
 {'Ville': 'Saintes Maries de la mer',
  'LAT': '43.4522771',
  'LON': '4.4287172'},
 {'Ville': 'Collioure', 'LAT': '42.52505', 'LON': '3.0831554'},
 {'Ville': 'Carcassonne', 'LAT': '43.2130358', 'LON': '2.3491069'},
 {'Ville': 'Ariege', 'LAT': '42.9455368', 'LON': '1.4065544156065486'},
 {'Ville': 'Toulouse', 'LAT': '43.6044622', 'LON': '1.4442469'},
 {'Ville': 'Montauban', 'LAT': '44.0175835', 'LON': '1.3549991'},
 {'Ville': 'Biarritz', 'LAT': '43.4832523', 'LON': '-1.5592776'},
 {'Ville': 'Bayonne', 'LAT': '43.4933379', 'LON': '-1.475099'},
 {'Ville': 'La Rochelle', 'LAT': '46.1591126', 'LON': '-1.1520434'}]

CREATION D'UNE BOUCLE POUR RECUPERER LES DONNEES METEO ET LES INTEGRER DANS LA DATAFRAME

In [7]:
# Donnée météo choisis : Feels_like (température ressentie).

API_key = '98d2f4d0a2fbdea2aa9766bb5428cb7e'

for i,v in enumerate (resultat):
    result_meteo = requests.get(f'https://api.openweathermap.org/data/2.5/onecall?lat={df.loc[i, "latitude"]}&lon={df.loc[i, "longitude"]}&exclude=current,minutely,hourly,alerts&units=metric&appid={API_key}&lang=fr')
    result_meteo_json = result_meteo.json()
    feels_like = np.mean([result_meteo_json['daily'][i]['feels_like']['day'] for i in range (8)])
    df.loc[i, 'feels_like'] = feels_like   # données feels_like intégrées dans la DataFrame

In [8]:
type(result_meteo)

requests.models.Response

RESULTAT DE LA DATAFRAME

In [20]:
df.head()

   city_id             name    latitude  longitude feels_like
22      22          Avignon  43.9492493  4.8059012      32.87
24      24            Nimes  43.8374249  4.3600687   32.34875
23      23             Uzes  44.0121279  4.4196718    32.0075
28      28      Carcassonne  43.2130358  2.3491069     31.545
21      21  Aix en Provence  43.5298424  5.4474738   31.28125

In [28]:
# df trié par ordre décroissant de 'fells_like' et visualisation des 5 premiers résultats

In [11]:
df = df.sort_values(by=['feels_like'], ascending=False)

In [26]:
df.head()

   city_id             name    latitude  longitude feels_like
22      22          Avignon  43.9492493  4.8059012      32.87
24      24            Nimes  43.8374249  4.3600687   32.34875
23      23             Uzes  44.0121279  4.4196718    32.0075
28      28      Carcassonne  43.2130358  2.3491069     31.545
21      21  Aix en Provence  43.5298424  5.4474738   31.28125

In [13]:
df.to_csv('villes_feels_like.csv')

Résultat enregistré dans le bucket S3 (DataLake)

In [23]:
import boto3
session = boto3.Session(aws_access_key_id="AKIA2YYMVAM7AEUCIBVE", 
                        aws_secret_access_key="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")

In [24]:
s3 = boto3.resource("s3")

In [25]:
s3.meta.client.upload_file('villes_feels_like.csv', 'resultscrap', 'villes_feels_like.csv')